@media (max-width: 575px) {
    .container-header {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-expand-lg .navbar-nav-right .nav-link {
        padding: 15px 25px;
    }
    .navbar {
        max-width: 100%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 0;
        padding: 15px 25px;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        margin-top: 0;
        &:not(:first-child) .nav-link {
            border-top: 0;
        }
    }
    .navbar-nav .dropdown-item {
        padding-left: 30px;
    }
    .h1-title {
        font-size: 20px;
        margin: 20px 0 10px;
    }
    .order-header {
        display: none;
    }
    .order-item {
        padding: 15px;
        margin-bottom: 7px;
        &>div {
            margin-bottom: 12px;
        }
    }
    .container-table {
        max-width: 90%;
    }
    .money-info {
        justify-content: space-between;
    }
    .filter-buttons-cont {
        justify-content: flex-end;
    }
    .filter-date-input {
        width: 72%;
    }
    .filter-column {
        align-items: end;
    }
    .public-order {
        width: 100%;
    }
    .dev-block {
        &>.row {
            &>div {
                margin-bottom: 3px;
            }
        }
    }
    .profile-container {
        padding: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container-header {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-expand-lg .navbar-nav-right .nav-link {
        padding: 15px 25px;
    }
    .navbar {
        max-width: 100%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        margin-top: 0;
        &:not(:first-child) .nav-link {
            border-top: 0;
        }
    }
    .navbar-nav .dropdown-item {
        padding-left: 30px;
    }
    .container-table {
        max-width: 90%;
    }
    .order-items {
        max-width: 100%;
    }
    .filter-date-input {
        width: 72%;
    }
    .filter-buttons-cont {
        justify-content: flex-end;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .profile-container {
        max-width: 90%;
        margin-left: 5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        max-width: 100%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        margin-top: 0;
        &:not(:first-child) .nav-link {
            border-top: 0;
        }
    }
    .container-table {
        max-width: 95%;
    }
    .order-items {
        max-width: 100%;
    }
    .profile-container {
        &__ava {
            &>div {
                width: 80px;
                height: 80px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}